target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
logs/
*.log
spring.log
application-local.properties
application-dev.properties
surefire-reports/
failsafe-reports/
*.tar
Thumbs.db
Desktop.ini
.DS_Store
tmp/
temp/
*.tmp
*.swp
coverage/
jacoco.exec
/site/
*.jfr
__pycache__/
*.pyc
.vscode/
.idea/
*.iml
.metadata/
src/main/.metadata/
docs_sesion27/
docs_sesion28/

app.log
app.err

